* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    /*right: 0;  objeto vai tudo para direita*/
    animation: pipe-animation 2s infinite;

}

@keyframes pipe-animation {
    from {
        right: 0;

    }

    to {
        right: 100%;
    }
}